<div class="container">
    <div class="header">
        <h2>{{productDetails.brand_name}}</h2>
        <div class="search">
            <input type="text" placeholder="Search...">
            <i class="fas fa-search"></i>
        </div>
    </div>
<!-- Product Page HTML Structure -->
    <div class="product-page">
        <div class="product-images">
            <!-- <img class="main-image" [src]="'assets/img/products/' + currentImage + '.jpg'" [alt]="currentImage"> -->
            <!-- to handle the error of a missing image -->
            <img class="main-image" [src]="'assets/img/products/' + currentImage + '.jpg'" [alt]="currentImage" (error)="onImageError($event)">
            <button class="carousel-prev">‹</button>
            <button class="carousel-next">›</button>
        </div>
        <div class="product-details">
            <!-- <h1>{{productDetails.product_name}} </h1> -->
            <h1 class="product-title">
                {{productDetails.product_name}}
                <div *ngIf="!inWishlist" (click)="addToWishlist()">
                    <img src="assets/svg/wishlist-icon.svg" alt="Wishlisted" width="20" height="20">
                </div> 
                <div *ngIf="inWishlist" (click)="removeFromWishlist()">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="#FF3F6C"><path d="M16.23 3c-1.62-.01-3.15.69-4.23 1.92A5.513 5.513 0 0 0 7.79 3C4.6 3 2 5.76 2 9.16c0 4.92 6.71 9.83 9.59 11.71.12.09.27.13.41.13.14 0 .29-.04.41-.12C15.29 18.99 22 14.08 22 9.16 22 5.76 19.4 3 16.23 3Z" fill="#FF3F6C"></path></svg>
                </div>
            </h1>
            <div class="price">
                ₹{{productDetails.selling_price}}
                <del>₹{{productDetails.mrp}}</del> 
                <span class="discount">({{productDetails.discount_percent}}% OFF)</span>
            </div>
            <p class="product-description">{{ productDetails.product_description }}</p>
        </div>
        <div class="product-actions">
            <div class="action-button wishlist" *ngIf="!inWishlist" (click)="addToWishlist()">
                <img src="assets/svg/wishlist-icon.svg" alt="Wishlist" width="20" height="20">
                <div class="action-text">Wishlist</div>
            </div>
            <div class="action-button wishlist" *ngIf="inWishlist" (click) = "removeFromWishlist()">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="#FF3F6C"><path d="M16.23 3c-1.62-.01-3.15.69-4.23 1.92A5.513 5.513 0 0 0 7.79 3C4.6 3 2 5.76 2 9.16c0 4.92 6.71 9.83 9.59 11.71.12.09.27.13.41.13.14 0 .29-.04.41-.12C15.29 18.99 22 14.08 22 9.16 22 5.76 19.4 3 16.23 3Z" fill="#FF3F6C"></path></svg>
                <div class="action-text">Wishlisted</div>
            </div>
            
            <div class="action-button add-to-bag">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6912 5H19.25C19.6442 5 19.9711 5.30515 19.9982 5.6984L20.9982 20.1984C21.0125 20.4058 20.9401 20.6098 20.7983 20.7618C20.6564 20.9137 20.4579 21 20.25 21H3.75C3.54213 21 3.34357 20.9137 3.20173 20.7618C3.05989 20.6098 2.98748 20.4058 3.00178 20.1984L4.00178 5.6984C4.0289 5.30515 4.35582 5 4.75 5H7.30882C7.66819 2.73241 9.631 1 12 1C14.369 1 16.3318 2.73241 16.6912 5ZM8.83686 5H15.1631C14.8248 3.56615 13.5376 2.5 12 2.5C10.4624 2.5 9.17517 3.56615 8.83686 5ZM15.25 8.25V6.5H8.75V8.25C8.75 8.66421 8.41421 9 8 9C7.58579 9 7.25 8.66421 7.25 8.25" fill="#262A39"></path>
                </svg>
                <div class="action-text">Add to Bag</div>
            </div>
        </div>
    </div>
</div>