
<div class="container">
    <div class="header">
        <div class = "header1">
            <svg class="header-icon" width="32" height="31" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" (click) = "goBackToPreviousPage()">
                <path d="M15 18L9 12L15 6" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h2>{{ mallDetails?.name }}</h2>
        </div>
        
        <div class="icon-container">
            <svg class="header-icon" width="32" height="31" viewBox="0 0 24 24" fill="none" (click)="goToWishlistPage()">
                <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" stroke="#242424" stroke-width="2"/>
            </svg>
            <mat-icon [svgIcon]="'cart-icon'"  [alt]="'cart'" class="header-icon" (click)="goToBagPage()"></mat-icon>
        </div>
    </div>

    <div class="content">
        <div class="section">
            <div class="search-container"  (click) = "goToSearchPage()">
                <img src="assets/svg/search-icon.svg" alt="search" class="search-icon">
                <input type="text" class="search-input" placeholder="Search for stores, products...">
            </div>
        </div>
        <!-- mall details -->

        <div class="mall-card">
            <div class="mall-image-container">
              <img [src]="'assets/img/stores/' + mallDetails?.images + ''" [alt]="mallDetails?.images" class="mall-image">
            </div>
            <div class="mall-details-container">
              <div class="mall-details">
                <div class="mall-title-container">
                  <h2 class="mall-name">{{ mallDetails?.name }}</h2>
                  <div class="mall-distance">{{ mallDetails?.distance }} km</div>
                </div>
                <p class="mall-address">{{ mallDetails?.address }}</p>
              </div>
            </div>
          </div>

        <div class="shops-content">
            <div class="info-tags">
              <button class="tag-button">Category</button>
              <button class="tag-button">New</button>
              <button class="tag-button">Trendy</button>
              <button class="tag-button">Free Delivery</button>
            </div>
            <div class="no-of-stores" *ngIf="mallDetails?.no_of_stores">
              <p>No. of stores ({{mallDetails?.no_of_stores}})</p>
            </div>
        </div>
        
       
        
        
        <div class="shop-card" *ngFor="let item of shopsList">
            <div class="image-container" (click)="goToStorePage(item)">
              <img [src]="'assets/img/stores/' + item?.images + ''" [alt]="item?.images" class="mall-image">
              <div class="promoted-badge">Promoted</div>
              <div class="offer-tag" *ngIf="item?.instore_offers">{{item?.instore_offers}}</div>
            </div>
            <div class="shop-details" (click)="goToStorePage(item)">
                <div class="title-container">
                    <h2 class="shop-name">{{item?.name}} 
                        <span *ngIf="item?.floor_no">| {{item?.floor_no}}{{getNumberSuffix(item?.floor_no)}} Floor </span>
                        <span *ngIf="item?.shop_no">| SN. {{item?.shop_no}}</span>
                    </h2>
                    <!-- <mat-icon [svgIcon]="'wishlist-icon'"  [alt]="'wishlist'" style="width:19px; height:17px;"></mat-icon> -->
                </div>
                
                <p class="shop-address">{{item?.address}}</p>
                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <div class="closing-time">Timing: {{item?.timings}}</div>
                </div>
            </div>
        </div>

        <div class="loader" *ngIf="isLoading">
          <div class="spinner"></div>
          <div class="spinner1"></div>
        </div>
          
    </div>
    <div class="footer">
        <div class="footer-icons">
          <div class="icon" (click)="changeFooterTab('home'); gotoHomePage()">
            <mat-icon [svgIcon]="activeTab === 'home' ? 'home-icon-active' : 'home-icon'" [alt]="'Home'" style="height: 29px; width: 29px; display: flex;"></mat-icon>
          </div>
          <div class="icon" (click)="changeFooterTab('stores')">
            <mat-icon [svgIcon]="activeTab === 'stores' ? 'stores-icon-active' : 'stores-icon'" [alt]="'Stores'" style="height: 31px; width: 30px; display: flex;"></mat-icon>
          </div>
          <div class="icon" (click)="changeFooterTab('explore'); gotoExplorePage()" >
            <mat-icon [svgIcon]="activeTab === 'explore' ? 'group-icon-active' : 'group-icon'" [alt]="'Explore'" style="height: 25px; width: 24px; display: flex;"></mat-icon>
          </div>
          <div class="icon" (click)="changeFooterTab('trends')">
            <mat-icon [svgIcon]="activeTab === 'trends' ? 'trends-icon-active' : 'trends-icon'" [alt]="'Trends'" style="height: 21px; width: 28px; display: flex;"></mat-icon>
          </div>
          <div class="icon" (click)="changeFooterTab('profile'); gotoProfilePage();">
             <mat-icon [svgIcon]="activeTab === 'profile' ? 'profile-icon-active' : 'profile-icon'" [alt]="'Profile'" style="height: 28px; width: 28px; display: flex;"></mat-icon>
          </div>
        </div>
    </div>
</div>
        
  