<div class="container">
    <div class="header">
        <div class = "header1" >
            <svg class="header-icon" width="32" height="31" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" (click) = "goBackToPreviousPage()">
                <path d="M15 18L9 12L15 6" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h2>Wishlist</h2>
        </div>
        <div class="icon-container">
            <mat-icon [svgIcon]="'cart-icon'"  [alt]="'cart'" class="header-icon" (click)="goToBagPage()"></mat-icon>
        </div>
    </div>


    <div class="content">
        <div class="section">
            <div class="product-grid">
                <ng-container *ngFor="let product of wishlistedProducts">
                  <div class="product-grid-item" (click) = "gotoShowProductPage(product)">
                    <div>
                      <img *ngIf="product?.images"
                        ngOptimizedImage
                        [src]="product?.images.split('|')[0]"
                        [alt]="product?.images.split('|')[0]"
                      />
                    </div>
                    <div class = "product-name">
                      <p>{{product?.brand_name}}
                        <span class="short-name">{{product?.product_short_name}}</span>
                      </p>
                      <div class="remove-button" (click)="showRemoveConfirmation(product, $event)">
                        <!-- <img src = "assets/svg/delete-icon.svg" alt="delete" width="20" height="20" class="remove-button"> -->
                        <mat-icon [svgIcon]="'delete-icon'" [alt]="'delete-icon'" class="remove-button" style="width:20px; height:20px"></mat-icon>
                      </div>
                    </div>
                    <p class="price-info">
                      <span class="selling-price">₹{{product?.selling_price}}</span>
                      <span class="mrp-discount">
                        <span class="mrp">₹{{product?.mrp}}</span>
                        (<span class="discount-percent">{{product?.discount_percent}}% OFF</span>)
                      </span>
                    </p>
                    <div class="action-buttons">
                        <button class="action-button add-to-cart-button" (click)="showAddToCartConfirmation(product, $event)">Add to cart</button>
                    </div>
                  </div>
                    
                </ng-container>
            </div>
        </div>
    </div>
    <!-- Remove from Wishlist Pop-up -->
    <div *ngIf="showRemovePopup" class="popup-overlay">
        <div class="popup-content">
            <div style="display: flex; align-items: center; gap: 7px;">
                <!-- <img src = "assets/svg/delete-icon.svg" alt="delete" width="20" height="20" class="remove-button"> -->
                <mat-icon [svgIcon]="'delete-icon'" [alt]="'delete-icon'" class="remove-button" style="width:20px; height:20px"></mat-icon>
                <h3>Remove Product</h3>
            </div>
            <p>Are you sure you want to remove this product from your wishlist?</p>
            
            <div class="product-item">
                <!-- <img [src]="'assets/img/products/' + selectedProduct?.main_image + '.jpg'" [alt]="selectedProduct?.main_image" class="product-image"> -->
                <img [src]="selectedProduct?.images.split('|')[0]" [alt]="selectedProduct?.images.split('|')[0]" class="product-image">
                <div class="product-details">
                    <h2>{{ selectedProduct?.brand_name }}</h2>
                    <p>{{ selectedProduct?.product_short_name }}</p>
                    
                    <span class="selling-price">₹{{selectedProduct?.selling_price}} &nbsp;</span>
                    <span class="mrp-discount">
                        <span class="mrp">₹{{selectedProduct?.mrp}}</span>
                        (<span class="discount-percent">{{selectedProduct?.discount_percent}}% OFF</span>)
                    </span>
                </div>
            </div>
            <div class="popup-buttons">
                <button class="cancel" (click)="closePopups()">Cancel</button>
                <button class="confirm" (click)="confirmRemoveFromWishlist()">Yes</button>
            </div>
        </div>
    </div>

    <!-- Add to Cart Pop-up -->
    <div *ngIf="showAddToCartPopup" class="popup-overlay">
        <div class="popup-content">
            <h3>Select Size</h3>
            <p>Please select a size for {{ selectedProduct?.product_short_name }}</p>
            <div class="product-item">
                <img [src]="'assets/img/products/' + selectedProduct?.main_image + '.jpg'" [alt]="selectedProduct?.main_image" class="product-image">
                <div class="product-details">
                    <h2>{{ selectedProduct?.brand_name }}</h2>
                    <p>{{ selectedProduct?.product_short_name }}</p>
                    <span class="selling-price">₹{{selectedProduct?.selling_price}} &nbsp;</span>
                    <span class="mrp-discount">
                        <span class="mrp">₹{{selectedProduct?.mrp}}</span>
                        (<span class="discount-percent">{{selectedProduct?.discount_percent}}% OFF</span>)
                    </span>
                </div>
            </div>
            
            <div class="size-buttons">
                <button *ngFor="let size of ['S', 'M', 'L', 'XL']" (click)="saveSelectedSize(size)">{{ size }}</button>
            </div>
            <div *ngIf="selectedSize == ''">
                <p style="align-items: center; text-align: center;"><span style="color: red;">*</span>Please select size</p>
            </div>
            <div class="popup-buttons">
                <button class="cancel" (click)="closePopups()">Cancel</button>
                
                <button class="confirm" (click)="confirmAddToCart()">Add To Cart</button>
            </div>
        </div>
    </div>
    
</div>
