
<div class="container">
    <div class="header">
        <h2>{{displayName}}</h2>
        <div class="search">
            <input type="text" placeholder="Search...">
            <i class="fas fa-search"></i>
        </div>
    </div>
    <div class="content">
        <div class="section">
            <div class="grid">
              <ng-container *ngFor="let product of products">
                
                 
                <div class="grid-item" (click) = "gotoShowProductPage(product)">
                    <img
                      [src]="'assets/img/products/' + product.main_image + '.jpg'"
                      [alt]="product.main_image"
                    />
                    <p>{{product.product_name}}</p>
                    <p>
                        {{product.selling_price}}
                      <span class="mrp">{{product.mrp}}</span>
                      (<span class="discount-percent">{{product.discount_percent}}% OFF</span>)
                    </p>
                </div>
              </ng-container>
            </div>
        </div>
        
    </div>
    
</div>
