<div class="container">

    <div class="header">
        <div class = "header1" >
            <svg class="header-icon" width="32" height="31" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" (click) = "goBackToPreviousPage()">
                <path d="M15 18L9 12L15 6" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h2>{{productDetails.brand_name}}</h2>
        </div>
        <div>
            <svg class="header-icon" width="32" height="31" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21 21L16.65 16.65" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <svg class="header-icon" width="32" height="31" viewBox="0 0 24 24" fill="none" (click) = "goToWishlistPage()">
                <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" stroke="#242424" stroke-width="2"/>
            </svg>
            <img src="assets/svg/cart-icon.svg" alt="cart" class="header-icon" (click) = "goToBagPage()">
        </div>
    </div>
    
    
    <!-- <img class="product-image" [src]="'assets/img/products/' + currentImage + '.jpg'" [alt]="currentImage" (error)="onImageError($event)"> -->
    <div class="content">
        <div class="product-images">
            <img class="product-image" [src]="'assets/img/products/' + currentImage + '.jpg'" [alt]="currentImage" (error)="onImageError($event)">
            <button class="carousel-prev">‹</button>
            <button class="carousel-next">›</button>
        </div>
        
        <div class="color-options">
            <div class="color-option" style="background-color: #394240;"></div>
            <div class="color-option" style="background-color: #785235;"></div>
            <div class="color-option" style="background-color: #9ECCE8;"></div>
        </div>
        
        <h1 class="product-title">{{productDetails.product_name}}
            <div style = "margin-right: 5px;" *ngIf="!inWishlist" (click)="addToWishlist()">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" stroke="#242424" stroke-width="2"/>
                </svg>
            </div> 
            <div style = "margin-right: 5px;" *ngIf="inWishlist" (click)="removeFromWishlist()">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="#FF3F6C"><path d="M16.23 3c-1.62-.01-3.15.69-4.23 1.92A5.513 5.513 0 0 0 7.79 3C4.6 3 2 5.76 2 9.16c0 4.92 6.71 9.83 9.59 11.71.12.09.27.13.41.13.14 0 .29-.04.41-.12C15.29 18.99 22 14.08 22 9.16 22 5.76 19.4 3 16.23 3Z" fill="#FF3F6C"></path></svg>
            </div>
        </h1>
        
        <div class="price-container">
            <span class="current-price">₹{{productDetails.selling_price}}</span>
            <span class="original-price">₹{{productDetails.mrp}}</span>
            <span class="discount">({{productDetails.discount_percent}} OFF)</span>
        </div>
        
        <div class="rating">
            <svg class="star-icon" viewBox="0 0 21 21">
                <path d="M10.5 0l3.09 6.95L21 7.5l-5.25 5.07L16.18 21 10.5 17.25 4.82 21l1.43-8.43L0 7.5l7.41-0.55L10.5 0z"/>
            </svg>
            <span class="rating-text">4.5</span>
            <span class="reviews">(500 Reviews)</span>
        </div>
        
        <div class="size-selection">
            <div class="size-header">
                <span class="size-title">Select Size ( UK Size )</span>
                <span class="size-chart">Size Chart ></span>
            </div>
            <div class="size-options">
                <div class="size-option" style="background-color: #EFFAFB; border: 1.84px solid #95F3FC;">6</div>
                <div class="size-option" style="background-color: #FEF1F9; border: 1.84px solid #FEC7E8;">7</div>
                <div class="size-option" style="background-color: #FAF9FF; border: 1.84px solid #DFDDFE;">8</div>
                <div class="size-option" style="background-color: #FEFCEF; border: 1.84px solid #FDF0A9;">9</div>
                <div class="size-option" style="background-color: #F0FDF3; border: 1.84px solid #CEFEDB;">10</div>
            </div>
        </div>
        
        <p class="product-description">
            {{ productDetails.product_description }}   
        </p>
        
        <div class="action-buttons">
            <button class="action-button wishlist-button" *ngIf="!inWishlist" (click)="addToWishlist()">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" stroke="#242424" stroke-width="2"/>
                </svg>
            </button>
            <button class="action-button wishlist-button" *ngIf="inWishlist" (click) = "removeFromWishlist()">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="#FF3F6C"><path d="M16.23 3c-1.62-.01-3.15.69-4.23 1.92A5.513 5.513 0 0 0 7.79 3C4.6 3 2 5.76 2 9.16c0 4.92 6.71 9.83 9.59 11.71.12.09.27.13.41.13.14 0 .29-.04.41-.12C15.29 18.99 22 14.08 22 9.16 22 5.76 19.4 3 16.23 3Z" fill="#FF3F6C"></path></svg>
            </button>
            <button class="action-button add-to-cart-button">Add to cart</button>
        </div>
    </div>
</div>