/* You can add global styles to this file, and also import other style files */

html, body {
    touch-action: manipulation; /* Prevent double-tap zoom */
   
  }
  body{
    overflow: hidden; /* Prevent accidental scrolling */
    -webkit-text-size-adjust: 100%; /* Prevent font scaling on mobile devices */
    text-size-adjust: 100%;
    padding-top: env(safe-area-inset-top, env(viewport-top, 0px)); 
    padding-bottom:  env(safe-area-inset-bottom, env(viewport-bottom, 0px)); 
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    /* .content{
        padding-bottom: calc(env(safe-area-inset-top, env(viewport-top, 0px)) + env(safe-area-inset-bottom, env(viewport-bottom, 0px)));
        padding-bottom: 20px;
    } */
  }
  

.status-bar-height-44{
    /* padding-top: 44px;
    padding-bottom: 16px;
    padding-right: 8px;
    padding-left: 8px; */
    .content{
        /* padding-bottom: 20px; */
        padding-bottom: 60px;
    }
    /* .modal-content{
        padding-bottom: 72px;
    } */
}

.status-bar-height-20{
    /* padding-top: 20px;
    padding-bottom: 16px;
    padding-right: 8px;
    padding-left: 8px; */
    .content {
        padding-bottom: 36px;
    }
    /* .modal-content{
        padding-bottom: 50px;
    } */
}


/* Hide scrollbars globally in WebKit-based browsers (iOS Safari, Chrome, etc.) */
::-webkit-scrollbar {
    display: none;
}
  

/* 
svg {
    shape-rendering: geometricPrecision;
    image-rendering: optimizeQuality;
    text-rendering: optimizeLegibility;
} 
*/

svg {
    image-rendering: -webkit-optimize-contrast; /* Ensures high-quality rendering in Safari */
    image-rendering: crisp-edges;              /* For non-WebKit browsers */
    text-rendering: optimizeLegibility;
}
  

  
  
