<div class="container">
  <div class="header">
      <div class = "header1" >
          <svg class="header-icon" width="32" height="31" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" (click) = "goBackToPreviousPage()">
              <path d="M15 18L9 12L15 6" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <h2>{{ 'order_summary.title' | translate }}</h2>
      </div>
  </div>

  <div class="order-summary-container">
      
    
      <!-- Arrival Time -->
      <div class="arrival-time">
        <p *ngIf="orderDetails?.shipping_status === 'delivered' && orderDetails?.delivery_date !== null && orderDetails?.order_status !== 'failed'">{{ 'order_summary.arrived' | translate:{ time: orderDetails?.deliveryTime } }}</p>
        <p *ngIf="orderDetails?.shipping_status !== 'delivered' && orderDetails?.delivery_date == null && orderDetails?.order_status !== 'failed'"><span style="font-weight: 600;">{{ 'order_summary.in_progress' | translate }}</span>: {{ 'order_summary.placed_at' | translate }} {{ orderDetails?.order_date }}</p>
        <p *ngIf="orderDetails?.order_status === 'failed'">{{ 'order_summary.failed' | translate }}
          <span *ngIf="orderDetails?.payment_status == 'failed'">: {{ 'order_summary.payment_failure' | translate }}</span>
        </p>

        <div class="download-invoice" (click)="downloadInvoice()">{{ 'order_summary.download_invoice' | translate }} <i class="fas fa-download"></i>
        </div>
        
      </div>
    
      <!-- Order Items -->
      <div class="order-items">
        <h2>{{orderItemsList?.length}} 
          {{ orderItemsList?.length > '1'  ? 'items' : 'item' }} in this order
        </h2>
        <div class="item-card" *ngFor="let item of orderItemsList">
          <div class="item-image">
            <img [src]="item?.images" [alt]="item?.product_short_name">
          </div>
          <div class="item-details">
            <h3>{{item?.brand_name}} {{item?.product_short_name}}</h3>
            <div class="quantity">{{ 'order_summary.size_qty' | translate:{ size: item?.size, qty: item?.quantity } }}</div>
            <div class="price">
              <span class="current-price">₹{{item?.selling_price}}</span>
              <span class="original-price">₹{{item?.mrp}}</span>
              <span class="discount-percent" *ngIf="item?.discount_percent > 0">({{item?.discount_percent}}) % OFF</span>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Rate Order -->
      <div class="rate-order">
        <div class="rate-prompt">
          <i class="fas fa-star"></i>
          <span>{{ 'order_summary.how_were_items' | translate }}</span>
        </div>
        <button class="rate-button" (click)="goTorReviewRatingPage()">{{ 'order_summary.rate_now' | translate }}</button>
      </div>
    
      <!-- Bill Details -->
      <div class="bill-details">
        <h2>{{ 'order_summary.bill_details' | translate }}</h2>
        <div class="bill-item">
          <span>{{ 'order_summary.mrp' | translate }}</span>
          <span>₹{{orderDetails?.mrp}}</span>
        </div>
        <div class="bill-item discount" *ngIf="orderDetails?.product_discount > 0">
          <span>{{ 'order_summary.product_discount' | translate }}</span>
          <span>-₹{{orderDetails?.product_discount}}</span>
        </div>
        <div class="bill-item discount" *ngIf="orderDetails?.promo_discount > 0">
          <span>{{ 'order_summary.promo_discount' | translate }}
            {{(orderDetails?.coupon_code)}}
          </span>
          <span>-₹{{orderDetails?.promo_discount}}</span>
        </div>
        <div class="bill-item">
          <span>{{ 'order_summary.item_total' | translate }}</span>
          <span>₹{{orderDetails?.item_total}}</span>
        </div>

        <div class="bill-item" *ngIf="orderDetails?.extra_charges > 0">
          <span>{{orderDetails?.extra_charges_name}}</span>
          <span>+₹{{orderDetails?.extra_charges}}</span>
        </div>
        <div class="bill-item">
          <span>{{ 'order_summary.delivery_charges' | translate }}</span>
          <span>+₹{{orderDetails?.delivery_charges}}</span>
        </div>
        <div class="bill-item" *ngIf="orderDetails?.tax_amount > 0">
          <span>{{ 'order_summary.tax_amount' | translate }}</span>
          <span>+₹{{orderDetails?.tax_amount}}</span>
        </div>
        <div class="bill-item total">
          <span>{{ 'order_summary.bill_total' | translate }}</span>
          <span>₹{{orderDetails?.total_amount}}</span>
        </div>
      </div>
    
      <!-- Order Details -->
      <div class="order-details">
        <h2>{{ 'order_summary.order_details' | translate }}</h2>
        <div class="detail-item">
          <span class="label">{{ 'order_summary.order_id' | translate }}</span>
          <div class="value-with-copy">
            <span>{{orderId}}</span>
            <i class="fas fa-copy" (click)="copyOrderId(orderId)"></i>
          </div>
        </div>
        <div class="detail-item">
          <span class="label">{{ 'order_summary.payment' | translate }}</span>
          <span>{{orderDetails?.payment_method}}</span>
        </div>
        <div class="detail-item">
          <span class="label">{{ 'order_summary.deliver_to' | translate }}</span>
          <span class="address">{{ orderDetails?.receiver_name }}, {{ orderDetails?.shipping_address?.display_address?.address_line }}</span>
        </div>
        <div class="detail-item">
          <span class="label">{{ 'order_summary.order_placed' | translate }}</span>
          <span>{{ 'order_summary.placed_on' | translate }} {{orderDetails?.order_date}}</span>
        </div>
      </div>
    
      <!-- Help Section -->
      <div class="help-section">
        <h2>{{ 'order_summary.need_help' | translate }}</h2>
        <button class="chat-button" (click)="chatSupport()">
          <i class="fas fa-comment"></i>
          <div class="chat-text">
            <span>{{ 'order_summary.chat_with_us' | translate }}</span>
            <span class="subtitle">{{ 'order_summary.chat_about' | translate }}</span>
          </div>
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
      <div class="loader" *ngIf="isLoading">
        <div class="spinner"></div>
        <div class="spinner1"></div>
      </div>
  </div>
</div>