
body {
    margin: 0;
    font-family: sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f2f2f2;
}
.header {
    background-color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header .back {
    font-size: 20px;
    cursor: pointer;
}
.header h2 {
    margin: 0;
}
.header .search {
    display: flex;
    align-items: center;
}
.header .search input {
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin-right: 8px;
}
.header .search i {
    font-size: 20px;
}
.content {
    padding: 15px;
    flex-grow: 1;
    overflow-y: auto;
}
.section {
    /* background-color: #fff; */
    /* padding: 15px;
    margin-bottom: 15px; */
    /* border-radius: 10px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    padding: 1rem;
}
.section h3 {
    margin-top: 0;
    margin-bottom: 10px;
}
.section .view-more {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
.grid {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    gap: 1rem;
    overflow-x: auto; /* Enable horizontal scroll */
    white-space: nowrap; /* Prevent line breaks */
    /* Hide scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.grid::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
  
.grid-item {
    /* background-color: #fff; */
    /* padding: 15px; */
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    text-align: center;
    flex: 0 0 auto; /* Prevent shrinking */
    /* min-width: 150px; Set a minimum width for the grid items */
    background-color: transparent; /* Ensure background is transparent */
}

.grid-item img {
    width: 70px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    background-color: transparent; /* Ensure the image background is transparent */
    mix-blend-mode: multiply; /* Try blending the white background */
}

/* .grid::-webkit-scrollbar {
    height: 8px;
}

.grid::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 10px;
} */

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

/* Grid Items */
.product-grid-item {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
}

.product-grid-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e0e0e0;
}

.product-grid-item p {
    margin: 5px 0;
}

.mrp {
    font-size: 12px;
    color: #aaa;
    text-decoration: line-through;
  }
  
  .discount-percent {
    font-size: 12px;
    color: #cf9a65;
    font-weight: bold;
  }
